/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
    color: #b5b5b5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Product Section Styles */
.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-menu, .product-pricing, .product-reviews {
    background-color: #2c2c2c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
}

.product-menu h2, .product-pricing h2, .product-reviews h2 {
    color: #f5a623;
    margin-bottom: 10px;
}

.product-info ol {
    padding-left: 20px;
    margin: 0;
    color: #b5b5b5;
}

.product-pricing .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-item {
    background-color: #3b3b3b;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #b5b5b5;
    width: 48%;
}

.product-item span {
    display: block;
    margin-bottom: 5px;
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(29, 29, 29, 0.8); /* Background hitam transparan */
    backdrop-filter: blur(10px); /* Efek blur */
    padding: 10px 20px;
    border-bottom: 2px solid #5c5b5b;
    padding-top: 15px;
    padding-bottom: 4px;
    position: fixed; /* Membuat header tetap di atas */
    top: 0;
    left: 0;
    width: 100%; /* Memastikan header mengisi lebar layar */
    z-index: 100; /* Memastikan header tetap di atas elemen lainnya */
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #b5b5b5;
    font-weight: bold;
    position: relative;
    font-size: 20px;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f5a623;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a.active::after {
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 20px;
    background-color: #010101;
    color: #fff;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #f5a623;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    margin-left: 10px;
}

.search-results {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 300px;
    z-index: 10; /* Ensure it appears above other elements */
}

.search-results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.language-selector select {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #b5b5b5;
    color: #fff;
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden off screen */
    width: 250px;
    height: 100%;
    background-color: #1d1d1d;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar.active {
    right: 0;
}

.sidebar .close-btn {
    align-self: flex-end;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.sidebar .nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar .nav-links li {
    margin: 10px 0;
}

.sidebar .nav-links a {
    text-decoration: none;
    color: #b5b5b5;
    font-weight: bold;
    font-size: 20px;
}

.sidebar .search input,
.sidebar .search button,
.sidebar .language-selector select {
    width: 100%;
    margin: 10px 0;
}
/* Product Banner */
.product-banner {
    background: url("../ImageBanner/BANNER\ AMAZON.png") no-repeat center 10%;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: 300px;
    margin-bottom: 160px;
    position: relative;
}
.product-banner::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -160px; /* Jarak dari elemen ke border */
    width: 100%;
    height: 300px; /* Tinggi background tambahan */
    background: linear-gradient(45deg, 
    #8d8787 10%, transparent 10%, transparent 20%, 
    #353232 20%, #353232 30%, transparent 30%, 
    #0a0600 30%); /* Gradient untuk garis-garis */
    z-index: -1; /* Menempatkan di atas gambar latar belakang */
}


.product-banner::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -160px; /* Jarak dari elemen ke border */
    width: 100%;
    height: 0.1px; /* Ketebalan border */
    background-color: #b5b5b5; /* Warna border */
    box-shadow: 0 160px 0 #1d1d1d; /* Menambahkan jarak menggunakan box-shadow */
}



.banner-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Memposisikan secara horizontal di tengah */
    margin-top: 50px; /* Atur margin-top sesuai kebutuhan */
    padding-top: 240px;
}


.banner-image {
    width: 200px; /* Sesuaikan ukuran persegi */
    height: 200px; /* Sesuaikan ukuran persegi */
    margin-right: 30px;
    border-radius: 20px;
    object-fit: cover; /* Memastikan gambar menyesuaikan kotak persegi */
    box-shadow: #21a392 0 0 2px; /* Bayangan untuk efek kedalaman */
}

.banner-text {
    max-width: 600px;
    margin-top: 140px;
    margin-left: 170px;
}

.banner-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgba(82, 121, 221, 0.89);
    background-color: #ffffff;
    border-radius: 8px;
    padding-left: 20px;
    border: #000000;
    border-style: solid;
}

.banner-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgba(82, 121, 221, 0.89);
    background-color: #ffffff;
    border-radius: 8px;
    padding-left: 20px;
    border: #000000;
    border-style: solid;
}

.product-icons {
    display: flex;
    gap: 10px;
}

.product-icons .icon {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Product Details */
.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 0 30px;
    
}

.detail-box {
    flex: 1 1 30%;
    background-color: #333;
    border-radius: 10px;
    padding: 20px 30px 10px 30px; /* Mengurangi padding bawah dari 20px ke 10px */
    margin-top: 20px;
    color: #fff;
}


.detail-box h2 {
    color: #f5a623;
    margin: 10px 0;
}

.detail-box ol {
    margin-left: 20px;
    font-size: 23px;
    padding: 10px 0; /* Jarak 10px di atas dan di bawah teks */
    line-height: 2; /* Mengatur jarak antar baris teks */
}
.detail-box h3 {
    margin-top: 20px; /* Memberikan jarak atas */
    font-size: 16px; /* Ukuran font */
    color: #888; /* Warna teks */
    text-align: center; /* Posisi teks di tengah */
}

.detail-box h3 br {
    display: none; /* Sembunyikan tag <br> di dalam h3 */
    content: " "; /* Menambahkan spasi jika perlu*/
}



.product-pricing {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.pricing-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.price-item {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 0.3s ease;
}

.price-item .diamond {
    font-size: 14px;
    margin-bottom: 5px;
}

.price-item .price {
    font-size: 14px;
    color: #f5a623;
}

.price-item:hover {
    background-color: #555;
}


/* penjelasan produk */
.product-description {
    background-color: #333; /* Warna latar belakang gelap */
    color: #fff; /* Warna teks putih */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Bayangan untuk efek kedalaman */
    width: 48%; /* Lebar 48% untuk memberikan ruang antar elemen */
    box-sizing: border-box;
}

.description-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Flex wrap untuk responsif di layar kecil */
    gap: 20px; /* Jarak antar elemen */
    padding: 0 25px; /* Tambahkan padding untuk ruang kiri dan kanan */
}


.product-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e0ac57; /* Warna teks untuk judul */
}

.product-description p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
    
}

.product-description ul {
    list-style-type: none; /* Menghilangkan bullet points */
    padding-left: 0;
}

.product-description ul li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.product-description ul li::before {
    content: "\2022"; /* Simbol bullet */
    color: #e0ac57; /* Warna bullet */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.product-description ul li strong {
    color: #e0ac57; /* Warna teks tebal */
}


.payment-form {
    margin-top: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 100%;
}

.payment-form .form-group {
    margin-bottom: 20px;
}

.payment-form .form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #f5a623;
}

.payment-options .payment-option {
    margin-bottom: 20px;
    background-color: #cec4c4;
    padding: 15px;
    border-radius: 5px;
}

.payment-options .payment-option h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #63615d;
}

.payment-method {
    display: flex;
    gap: 10px;
}

.payment-method img {
    width: 60px;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.payment-method img:hover {
    transform: scale(1.1);
}

.payment-method img.selected {
    border: 2px solid #f5a623;
}

.payment-form .form-group input,
.payment-form .form-group select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}

.order-now-button {
    background-color: #f5a623;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
}

.order-now-button:hover {
    background-color: #e5941c;
}

.order-now-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Footer Styles */
footer {
    background-color: #282727;
    color: #b5b5b5;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-section h4 {
    color: #f5a623;
    margin-bottom: 10px;
}


* {
    box-sizing: inherit;
}

.container {
    max-width: 100%;
    overflow-x: hidden;
}

/* Media Queries */

/* Ponsel kecil (max-width: 480px) */
@media (max-width: 480px) {
    .header-container {
        flex-direction: column; /* Stack header items vertically on very small screens */
        align-items: flex-start;
    }

    .nav-links.active {
        display: flex; /* Show nav links when active */
        flex-direction: column; /* Stack nav links vertically */
        width: 100%;
        background-color: #1d1d1d; /* Match header background */
        position: absolute;
        top: 70px; /* Position below header */
        left: 0;
        padding: 10px 0;
    }

    .nav-links li {
        margin: 10px 0; /* Add margin between nav items */
        text-align: center;
    }

    .nav-links a {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .search input, .search button, .language-selector select {
        width: 100%; /* Make input, button, and select take full width */
        margin: 5px 0; /* Add margin for spacing */
    }

    .hamburger {
        display: flex; /* Show hamburger menu */
    }

    .product-details {
        flex-direction: column;
        margin: 0;
        padding: 0 10px; /* Menambahkan padding agar tidak menempel di tepi layar */
    }
    
    .detail-box, .product-pricing {
        flex: 1 1 100%;
        padding: 15px;
        margin: 10px 0;
        width: calc(100% - 20px); /* Menyesuaikan lebar agar tidak keluar dari layar */
    }
    
    .price-item {
        flex: 1 1 100%;
        margin: 5px 0;
        padding: 10px;
        width: calc(100% - 20px); /* Menyesuaikan lebar agar tidak keluar dari layar */
    }

    .banner-content {
        padding-top: 100px;
    }
    
    .banner-text h1, .banner-text h2 {
        font-size: 18px;
    }
    
    .banner-text {
        margin-top: 10px;
    }
    
    .banner-image {
        width: 100px;
        height: 100px;
    }

    .product img {
        height: 200px; /* Adjust height for smaller screens */
    }

    .slick-dots {
        bottom: 100px; /* Adjust this value as needed */
    }

    .slick-prev, .slick-next {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 30px;
    }

    .slick-prev::before, .slick-next::before {
        font-size: 30px;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }
}

/* Ponsel sedang hingga besar (max-width: 768px) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    
    .header-right {
        display: none;
    }
    
    .logo img {
        height: 30px;
    }
    
    .hamburger {
        display: flex;
    }

    .product-details {
        flex-direction: column;
    }
    
    .detail-box, .product-pricing {
        flex: 1 1 100%;
        margin: 10px 0;
        width: 100%;
        margin-bottom: 1px;
    }
    
    .detail-box {
        margin-top: 20px;
    }
    
    .price-item {
        flex: 1 1 calc(50% - 20px);
    }

    .banner-content {
        padding-top: 270px;
    }
    
    .banner-text h1, .banner-text h2 {
        font-size: 20px;
    }
    
    .banner-text {
        margin-top: 10px;
    }
    
    .banner-image {
        width: 150px;
        height: 150px;
        margin-right: 300px;
    }

    .product img {
        height: 300px; /* Adjust height for smaller screens */
    }

    .slick-dots {
        bottom: 100px; /* Adjust this value as needed */
    }

    .slick-prev, .slick-next {
        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 40px;
    }

    .slick-prev::before, .slick-next::before {
        font-size: 40px;
    }

    .slick-prev {
        left: 15px;
    }

    .slick-next {
        right: 15px;
    }
}

/* Tablet hingga Desktop (max-width: 1200px) */
@media (max-width: 1200px) {
    .detail-box, .product-pricing {
        flex: 1 1 48%;
    }

    .banner-content {
        flex-direction: column;
        padding-top: 250px;
    }
    
    .banner-text {
        margin-top: 15px;
        margin-left: 0;
        text-align: center;
    }
    
    .banner-image {
        margin-right: 500px;
        margin-top: 10px;
    }
}
